/*----------------

[1. Styles for devices(<=1199px)]

*/
@media only screen and (max-width: 1199px) {
/*Home Page CSS*/

}

/*--------------------

[2. Styles for devices(<=991px)]

*/
@media only screen and (max-width: 991px) {
/*Home Page CSS*/

}

/*--------------------

[3. Styles for devices(<=767px)]

*/
@media only screen and (max-width: 767px) {
/*Home Page CSS*/

}

/*--------------------

[4. Styles for devices(<=599px)]

*/
@media (max-width:599px) {
/*Home Page CSS*/

}
