/****************************** ****************************** 
                       Home Page CSS
****************************** *****************************/
/**Header Section**/
header {
	min-height: 110px;
	position: relative;
	z-index: 1;
}
.navbar {
	min-height: 110px;
}
.navbar-nav .nav-link {
	font-size: 1.125rem;
}
/**Banner Section**/
.banner-section {
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #213367;
	height: 100vh;
	position: relative;
	min-height: 700px;
	margin-top: -110px;
}
.banner-section::before {
	background: #213367;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.50;
}
.banner-text {
	display: block;
	text-align: center;
	margin-top: 100px;
}
.banner-text h2 {
	color: #fff;
	font-size: 5rem;
	font-weight: 700;
}
.banner-text p {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}
.banner-text .btn {
	margin-top: 1rem;
	min-width: 190px;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
/*Our Client Section*/
.company-logo-section {
	display: block;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 40px 0;
}
.company-slider.owl-carousel .owl-item {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.company-slider.owl-carousel .owl-item img {
	display: inline-block;
	width: initial;
	max-width: 100%;
}
.company-logo {
	text-align: center;
	padding: 0 30px;
}
/**Who We Are Section**/
.who-we-are-section {
	display: block;
	padding: 70px 0;
}
.who-we-are-content {
	display: block;
	padding: 0 15px;
	max-width: 870px;
	margin: 0 auto;
	text-align: center;
}
.who-we-are-content h2 {
	font-size: 2.875rem;
	color: #4b5269;
	margin-bottom: 1rem;
	font-weight: 600;
}
.who-we-are-content p {
	color: #828283;
	margin-bottom: 1.5rem;
}
.who-we-are-content p:last-child {
	margin-bottom: 0;
}
.who-box-row {
	padding-top: 50px;
}
.who-box-part {
	display: flex;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #242d47;
	position: relative;
	min-height: 340px;
	text-align: center;
	align-items: center;
}
.who-box-part::before {
	background: #242d47;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0.15;
	left: 0;
}
.who-btn {
	position: relative;
	z-index: 1;
	width: 100%;
}
.who-btn .btn {
	font-weight: 600;
	min-width: 300px;
	font-size: 1.625rem;
	padding: 1rem 0.75rem;
	opacity: 0.9;
}
/**Why Insurance Section**/
.why-insurance-section {
	display: block;
	background-image: url(../images/why-insurance-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #242d47;
	position: relative;
	padding: 70px 0;
}
.why-insurance-section::before {
	background: #242d47;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0.9;
	left: 0;
}
.why-insurance-inner {
	position: relative;
	z-index: 1;
}
.why-insurance-inner h2 {
	font-size: 2.875rem;
	color: #ffffff;
	margin-bottom: 2.5rem;
	font-weight: 600;
	text-align: center;
}
.why-insurance-point {
	display: block;
}
.why-point-count {
	float: left;
	width: 50px;
	margin-right: 20px;
	font-size: 2.5rem;
	color: #25aae1;
	line-height: 2.875rem;
	font-family: arial;
}
.why-point-content {
	overflow: hidden;
	color: #ffffff;
}
.why-point-content h4 {
	font-size: 1.375rem;
	font-weight: 600;
	margin-bottom: 0.7rem;
}
.why-point-content p:last-child {
	margin-bottom: 0;
}
/**Footer Section**/
.footer-top {
	display: block;
	background: #e3eaec;
	padding: 40px 0;
}
.footer-top h6 {
	font-size: 1.125rem;
	color: #37393e;
	font-weight: 600;
	margin-bottom: 0.8rem;
}
.footer-location-menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-location-menu li {
	display: block;
	font-size: 0.9375rem;
	color: #37393e;
	padding: 4px 0;
}
.footer-location-menu li i {
	color: #adb5bd;
	font-size: 1.3rem;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 3px;
}
.footer-location-menu li a {
	color: #37393e;
}
.footer-location-menu li a:hover {
	color: #000000;
}
.footer-social-menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.footer-social-menu li {
	display: inline-block;
	margin: 0 8px;
}
.footer-social-menu li a {
	height: 40px;
	width: 40px;
	background: #ffffff;
	color: #adb5bd;
	display: block;
	border-radius: 100%;
	font-size: 1.2rem;
	line-height: 40px;
}
.footer-social-menu li a:hover {
	background: #25aae1;
	color: #ffffff;
}
.footer-payment-menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.footer-payment-menu li {
	display: inline-block;
	margin: 0 6px;
	color: #adb5bd;
	font-size: 3rem;
	line-height: 40px;
}
.footer-bottom {
	display: block;
	background: #d7ddde;
	padding: 15px 0;
}
.footer-menu {
	display: block;
}
.footer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.footer-menu ul li {
	display: inline-block;
	margin: 0 8px;
}
.footer-menu ul li a {
	font-size: 0.9375rem;
	color: #37393e;
}
.footer-menu ul li a:hover {
	color: #000000;
}
.copyright {
	font-size: 0.9375rem;
	color: #37393e;
	text-align: right;
}
/****************************** ****************************** 
                      About Us Page CSS
****************************** *****************************/
/**Main Title Section**/
.main-title-section {
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #213367;
	position: relative;
	margin-top: -110px;
	height: 420px;
}
.main-title-section:before {
	background: #213367;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.50;
}
.page-title-part {
	display: block;
	text-align: center;
	margin-top: 50px;
}
.page-title-part h1 {
	color: #fff;
	font-size: 5rem;
	font-weight: 700;
}
.page-title-part p {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}
.page-title-part p:last-child {
	margin-bottom: 0;
}
/*Zig Zag Content Part*/
.about-page {
	display: block;
	padding: 10px 0;
}
.zig-zag-section {
	display: block;
	background: #ffffff;
	padding: 50px 0;
}
.zig-zag-content {
	display: block;
	padding-right: 20px;
}
.zig-zag-section:nth-child(2n) .zig-zag-content {
	padding-left: 20px;
	padding-right: 0;
}
.zig-zag-content img {
	max-width: 100%;
}
.zig-zag-content h2 {
	font-size: 2.875rem;
	color: #4b5269;
	margin-bottom: 1rem;
	font-weight: 600;
}
.zig-zag-content p {
	color: #828283;
	margin-bottom: 1.5rem;
}
.zig-zag-content p:last-child {
	margin-bottom: 0;
}
.zig-zag-content p a {
	text-decoration: underline;
}
.zig-zag-content ul {
	list-style-type: none;
	margin: 10px 0 30px 0;
	padding: 0;
}
.zig-zag-content ul:last-child {
	margin-bottom: 0;
}
.zig-zag-content ul li {
	color: #828283;
	position: relative;
	padding-left: 20px;
	margin: 5px 0;
}
.zig-zag-content ul li::before {
	content: "•";
	color: #06acf0;
	font-size: 1.8rem;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 13px;
}
.zig-zag-content ul li a {
	text-decoration: underline;
}
.zig-zag-image {
	display: block;
	text-align: center;
}
.zig-zag-image img {
	max-width: 100%;
}
/*Testimonial Slider Part*/
.testimonial-section {
	display: block;
	background-image: url(../images/testimonial-bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #242d47;
	position: relative;
	padding: 70px 0;
}
.testimonial-section::before {
	background: #242d47;
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.8;
}
.testimonial-section .owl-carousel .owl-nav div {
	height: 30px;
	line-height: 30px;
	width: 30px;
	top: calc(25% - 15px);
}
.testimonial-section .owl-carousel .owl-nav div img {
	max-width: 100%;
}
.testimonial-inner {
	position: relative;
	z-index: 1;
}
.testimonial-inner h2 {
	font-size: 2.875rem;
	color: #ffffff;
	margin-bottom: 2.5rem;
	font-weight: 600;
	text-align: center;
}
.testimonial-box {
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
	padding: 0 2rem;
}
.testimonial-box p {
	color: #f2f4f7;
	font-style: italic;
}
.testimonial-box h6 {
	color: #25aae1;
	font-weight: 500;
	margin: 2rem 0;
	text-transform: uppercase;
}
/****************************** ****************************** 
                      Contact Us Page CSS
****************************** *****************************/
.contact-page {
	display: block;
	padding: 70px 0;
}
/**Contact Info Part**/
.contact-info-part {
	display: block;
	margin-bottom: 50px;
}
.contact-info-part h2 {
	font-size: 2.875rem;
	color: #4b5269;
	margin-bottom: 1rem;
	font-weight: 600;
}
.contact-info {
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	width: 60%;
}
.contact-info li {
	display: inline-block;
	margin-right: 15px;
	width: calc(33.33% - 30px);
	font-size: 1rem;
	color: #828283;
}
.contact-info li i {
	font-size: 1.6rem;
	color: #25aae1;
	vertical-align: middle;
	margin-right: 10px;
}
.contact-info li a {
	color: #828283;
}
.contact-info li a:hover {
	color: #25aae1;
}
/**Contact Social Part**/
.contact-social {
	display: inline-block;
	vertical-align: middle;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.contact-social li {
	display: inline-block;
	margin: 0 8px;
}
.contact-social li a {
	height: 40px;
	width: 40px;
	background: #25aae1;
	color: #ffffff;
	display: block;
	border-radius: 100%;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}
.contact-social li a:hover {
	background: #242d47;
	color: #ffffff;
}
/**Contact Map Part**/
.contact-map-part {
	display: block;
}
.contact-map-part iframe {
	max-width: 100%;
	height: 448px;
	display: block;
}
/**Contact Form Part**/
.contact-form-part {
	display: block;
	background: #25aae1;
	padding: 30px;
}
.contact-form-part h4 {
	font-size: 1.5rem;
	color: #ffffff;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
.contact-form-part p {
	color: #ffffff;
}
.contact-form-part .form-group {
	margin-bottom: 1rem;
}
.contact-form-part textarea.form-control {
	height: 110px;
}
/****************************** ****************************** 
                       Steps Page CSS
****************************** *****************************/
.step-main-container {
	background: url(../images/step-bg.jpg) no-repeat 0 100% / cover;
	min-height: calc(100vh - 100px);
}
.step-inner-container {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 150px;
}
/*Step Breadcrumbs Bar*/
.step-breadcrumb-part {
	display: block;
	padding: 40px 0;
}
.cd-multi-steps {
	width: 100%;
	padding: 0.5em 1em;
	margin: 0 auto;
	background-color: #ccc;
	border-radius: .25em;
}
.cd-multi-steps:after {
	content: "";
	display: table;
	clear: both;
}
.cd-multi-steps li {
	display: inline-block;
	float: left;
	margin: 0.5em 0;
}
.cd-multi-steps li::after {
	display: inline-block;
	content: '\00bb';
	margin: 0 .6em;
	color: #959fa5;
}
.cd-multi-steps li:last-of-type::after {
	display: none;
}
.cd-multi-steps li > * {
	display: inline-block;
	color: #2c3f4c;
	font-size: 1rem;
	font-weight: 500;
	font-style: normal;
}
.cd-multi-steps li.current > * {
	color: #25aae1;
}
.no-touch .cd-multi-steps a:hover {
	color: #25aae1;
}
 @media only screen and (min-width: 768px) {
.cd-multi-steps {
	padding: 0 1.2em;
}
.cd-multi-steps li {
	margin: 1.2em 0;
}
.cd-multi-steps li::after {
	margin: 0 1em;
}
.cd-multi-steps li > * {
	font-size: 1rem;
}
}

/* Multi steps indicator  */
@media only screen and (min-width: 768px) {
.cd-multi-steps {
	background-color: transparent;
	padding: 0;
	text-align: center;
	font-size: 0;
}
.cd-multi-steps li {
	position: relative;
	float: none;
	/*margin: 0.4em 18px 0.4em 0;*/
	margin: 0.4em 2px 0.4em 0;
}
.cd-multi-steps li:last-of-type {
	margin-right: 0;
}
.cd-multi-steps li::after {
	position: absolute;
	content: '';
	height: 4px;
	background: #c3d3db;
	margin: 0;
}
.cd-multi-steps li.visited::after {
	background-color: #25aae1;
}
.cd-multi-steps li > *, .cd-multi-steps li.current > * {
	position: relative;
	color: #2c3f4c;
}
.cd-multi-steps.text-bottom li {
	width: 150px;
	text-align: center;
}
.cd-multi-steps.text-bottom li::after {
	position: absolute;
	left: 50%;
	width: calc(100% + 20px);
}
.cd-multi-steps.text-bottom li > *::before {
	content: '';
	position: absolute;
	z-index: 1;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: #c3d3db;
}
.cd-multi-steps.text-bottom li.visited > *::before, .cd-multi-steps.text-bottom li.current > *::before {
	background-color: #25aae1;
}
.no-touch .cd-multi-steps.text-bottom a:hover {
	color: #25aae1;
}
.no-touch .cd-multi-steps.text-bottom a:hover::before {
	box-shadow: 0 0 0 3px rgba(37, 170, 225, 0.3);
}
.cd-multi-steps.text-bottom li::after {
	top: 3px;
}
.cd-multi-steps.text-bottom li > * {
	padding-top: 20px;
}
.cd-multi-steps.text-bottom li > *::before {
	top: 0;
}
}
/* Add a counter to the multi-steps indicator */
.cd-multi-steps.count li {
	counter-increment: steps;
}
.cd-multi-steps.count li > *::before {
	content: counter(steps) " - ";
}
 @media only screen and (min-width: 768px) {
.cd-multi-steps.text-bottom.count li > ::before {
	content: counter(steps);
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 1.20rem;
	color: #ffffff;
	font-weight: 400;
}
.cd-multi-steps.text-bottom.count li:not(.current) em::before {
	color: #ffffff;
}
.cd-multi-steps.text-bottom.count li::after {
	top: 18px;
}
.cd-multi-steps.text-bottom.count li > * {
	padding-top: 50px;
}
}
/*Main Step Form Box*/
.main-step-form-box {
	display: block;
	background: #25aae1;
	width: 100%;
	max-width: 470px;
	margin: 20px auto 0;
}
.main-step-form-inner {
	padding: 45px;
}
.step-form-heading {
	display: block;
	margin-bottom: 25px;
	text-align: center;
}
.step-form-heading h3 {
	display: block;
	font-size: 2.25rem;
	font-weight: 600;
	color: #ffffff;
	margin: 0;
}
.step-form-heading p {
	font-size: 1.125rem;
	color: #ffffff;
	margin: 0;
	padding-top: 1.2rem;
}
.btns-part {
	display: block;
	text-align: center;
	padding-top: 15px;
}
.step-form-part {
	display: block;
}
.step-form-part .form-group {
	position: relative;
}
.step-form-part .form-text {
	color: #ffffff;
	margin-bottom: 0.4rem;
}
.step-form-part label {
	font-size: 1.125rem;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 0;
}
.step-form-part label + small {
	margin-top: 0;
}
.btns-part button {
	margin: 0 5px;
}
.info-btn {
	background: url(../images/info-white-icon.png) 0 0 no-repeat;
	height: 24px;
	width: 24px;
	border: none;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	position: absolute;
	right: -34px;
	bottom: 14px;
}
.io_divider {
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	margin: 0 0 1.2rem;
}
.calendar-icon {
	background: url(../images/calendar-icon.png) 98% 50% no-repeat #ffffff;
}
/*Main Step Filter Box*/
.is_select_policy {
	max-width: 1630px;
}
.step-inner-container {
	max-width: 100%;
}
.select-policy-part {
	display: block;
	background: #25aae1;
	width: 100%;
	margin: 20px auto 0;
}
.select-policy-part .btns-part {
	padding-top: 45px;
}
.select-policy-inner-part {
	padding: 45px;
}
.filter-option {
	display: block;
	text-align: right;
	margin-bottom: 20px;
}
.filter-option a {
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 600;
}
.filter-option a:hover {
	color: #213367;
}
.filter-option a i {
	margin-right: 5px;
}
.policy-table-part {
	background: #2492c9;
	display: flex;
}
.policy-features-part {
	float: left;
	width: 386px;
	background: #2492c9;
}
.policy-feature-heading {
	display: block;
	height: 210px;
}
.policy-feature-list {
	display: block;
}
.policy-feature-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.policy-feature-list ul li {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 55px;
	padding: 5px 25px;
	font-weight: 600;
	font-size: 0.875rem;
}
/*.policy-feature-list ul li:nth-child(4) {
  min-height: 90px;
}
.policy-feature-list ul li:nth-child(5) {
  min-height: 90px;
}*/
.policy-listing-part {
	overflow: hidden;
	width: 100%;
	background: #ffffff;
}
.select-policy-slider {
/*padding: 0 30px;*/
}
.select-policy-slider.owl-carousel .owl-nav div {
	top: calc(70px - 12px);
}
.select-policy-slider.owl-carousel .owl-nav div.owl-prev {
	left: -7px;
}
.select-policy-slider.owl-carousel .owl-nav div.owl-next {
	right: -7px;
}
.select-policy-slider.owl-carousel .owl-nav div.owl-prev.disabled, .select-policy-slider.owl-carousel .owl-nav div.owl-next.disabled {
	opacity: 0;
}
.policy-box {
	display: block;
	max-width: 100%;
	text-align: center;
}
.policy-box .btn {
	font-size: 1rem;
	font-weight: 600;
	min-width: 100px;
}
.policy-box-header {
	display: block;
	height: 191px;
}
.policy-logo {
	display: table;
	height: 80px;
	width: 100%;
}
.policy-logo span {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 15px;
}
.policy-logo img {
	display: inline-block;
	max-width: 80%;
}
.owl-carousel .owl-item .policy-logo img {
	display: inline-block;
	max-width: 80%;
	max-height: 80px;
	width: auto;
}
.policy-provider-name {
	font-size: 0.8rem;
	min-height: 50px;
}
.policy-box .policy-feature-list {
	background: #f4f5f7;
	border-top: 1px solid #d8eef7;
	border-bottom: 1px solid #d8eef7;
}
.owl-item:nth-child(2n) .policy-box .policy-feature-list {
	background: #ffffff;
}
.policy-box .policy-feature-list ul li {
	color: #4b5269;
	font-size: 0.875rem;
}
.fea-minus, .fea-check {
	background: rgba(0, 0, 0, 0) url("../images/cross-icon.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 auto;
}
.fea-check {
	background: rgba(0, 0, 0, 0) url("../images/check-icon.png") no-repeat scroll 0 0;
}
.policy-box .badge {
	font-size: 70%;
	width: 100px;
	padding: 0.45em 0.4em;
	margin: 0 auto 5px;
	border-width: 0;
	text-transform: uppercase;
}
.policy-box-footer {
	display: block;
	padding: 25px 0;
}
.policy-star-terms {
	display: block;
	font-size: 0.8rem;
	color: #fff;
	margin: 10px 0 0;
}

/******hide***/
.hidden{
	display:none;
}
.no-plans{
	width: 500px;
	margin: 0 auto;
	flex: 1;
	display: flex;
}
.clear {
	clear: both;
}

/*Payment Step Page CSS*/
.payment-policy-part {
	display: block;
	background: #25aae1;
	width: 100%;
	margin: 20px auto 0;
}
.payment-policy-part .btns-part {
	padding-top: 45px;
	margin-top: 45px;
	border-top: 1px solid #ffffff;
}
.payment-policy-inner-part {
	padding: 45px;
}
/*Payment Tabs*/
.payment-tabs-info {
	display: block;
}
.payment-tabs-info .nav-tabs {
	border-bottom: 0;
}
.payment-tabs-info .nav-tabs .nav-item {
	margin-right: 1rem;
	margin-bottom: 0;
}
.payment-tabs-info .nav-tabs .nav-link {
	border: 0;
	border-radius: 0;
	font-size: 1.125rem;
	color: #ffffff;
	font-weight: 600;
	background: #2492c9;
	min-width: 190px;
	padding: 0.7rem 1rem;
	text-align: center;
}
.payment-tabs-info .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #828283;
	background-color: #ffffff;
}
.payment-tabs-info .tab-content {
	background: #ffffff;
}
.payment-tab-content {
	display: block;
	padding: 30px 20px;
}
.payment-tab-content h4 {
	font-size: 1.3rem;
	color: #828283;
	font-weight: 700;
	margin-bottom: 1rem;
}
.payment-tab-content ul {
	list-style-type: none;
	margin: 0 0 30px;
	padding: 0;
}
.payment-tab-content ul:last-child {
	margin-bottom: 0;
}
.payment-tab-content ul li {
	color: #828283;
	position: relative;
	padding-left: 20px;
	margin: 20px 0;
	font-weight: 500;
}
.payment-tab-content ul li:last-child {
	margin-bottom: 0;
}
.payment-tab-content ul li::before {
	font-family: 'FontAwesome';
	content: "\f104";
	color: #828283;
	font-size: 1.2rem;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 13px;
}
.payment-tab-content ul.include-option li {
	float: left;
	width: 50%;
	margin: 5px 0;
}
.payment-tab-content ul.include-option li::before {
	font-size: 1rem;
}
.payment-tab-content ul.include-option li.tick::before {
	content: "\f00c";
	color: #45ca7f;
}
.payment-tab-content ul.include-option li.untick::before {
	content: "\f00d";
	color: #fb7171;
}
.payment-tab-content .custom-control {
	color: #828283;
	font-weight: 500;
	margin: 5px 0; 
}
/*Payment Form*/
.policy-payment-detail-part {
	display: block;
	margin-top: 50px;
}
.payment-form-part {
	display: block;
}
.payment-form-part label {
	font-size: 1.125rem;
	color: #ffffff;
	font-weight: 600;
}
.payment-form-part .custom-control-label {
	font-weight: 400;
}
.form-btn-part {
	margin-top: 25px;
}
.form-btn-part button {
	padding: 0.675rem 1.45rem;
}
.cc-divider {
	text-align: center;
	color: #ffffff;
	font-size: 1.5rem;
}
/*Policy Cost Box*/
.policy-cost-box {
	background: #213367;
	display: block;
	padding: 25px;
}
.policy-secure-by {
	display: block;
	margin-bottom: 40px;
}
.policy-secure-by h5 {
	font-size: 1.125rem;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.policy-secure-by ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.policy-secure-by ul li {
	display: inline-block;
	font-size: 2.5rem;
	color: #ffffff;
	width: 25%;
}
.polist-cost-part {
	display: block;
}
.polist-cost-part h5 {
	font-size: 1.625rem;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.polist-cost-part .table {
	margin: 0;
}
.polist-cost-part .table th, .polist-cost-part .table td {
	border-top: 0;
	color: #fff;
	font-weight: 500;
	padding: 0.45rem 0;
}
.polist-cost-part .table .total-tr {
	border-top: 1px solid #ffffff;
}

/****************************** ****************************** 
                   	Login/Register Modal CSS
****************************** *****************************/
.sign-modal {
	background-color: #25aae1;
	border: 0;
	border-radius: 0;
}
.sign-modal .modal-body {
	padding: 0;
}
.sign-inner-part {
	padding: 30px 60px;
}
.modal-logo {
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
}
.modal-logo img {
	max-width: 100%;
}
.sign-form-part {
	display: block;
}
.sign-form-part .input-group {
	margin-bottom: 1.2rem;
}
.sign-form-part .input-group-prepend {
	position: absolute;
	z-index: 4;
	height: 100%;
}
.sign-form-part .input-group-text {
	padding: 0.375rem 0;
	color: #25aae1;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	font-size: 1.15rem;
	width: 50px;
}
.sign-form-part .input-group-text i {
	width: 100%;
}
.sign-form-part .input-group-prepend + .form-control {
	padding-left: 3.375rem;
}
.sign-form-part .btns-part {
	padding-top: 0
}
.sign-form-part .btns-part button {
	margin: 0;
}
.already-text-block {
	text-align: center;
	color: #ffffff;
	padding: 1.5rem 0 0;
}
.already-text-block + .already-text-block {
	padding-top: 0.8rem;
}
.already-text-block a {
	color: #ffffff;
	font-weight: 500;
}
.already-text-block a:hover {
	color: #213367
}

/**********password Strength ********/

#register .short{
	font-weight:bold;
	color:#FF0000;
	font-size:larger;
	}
	#register .weak{
	font-weight:bold;
	color:orange;
	font-size:larger;
	}
	#register .good{
	font-weight:bold;
	color:#2D98F3;
	font-size:larger;
	}
	#register .strong{
	font-weight:bold;
	color: limegreen;
	font-size:larger;
	}

/****************************** ****************************** 
                   		 My Account Page CSS
****************************** *****************************/
.account-main-container {
	background: url(../images/step-bg.jpg) no-repeat 0 100% / cover;
	min-height: calc(100vh - 100px);
	padding: 50px 0 150px;
}
.is_myaccount {
	max-width: 1230px;
}
.account-main-section {
	background: #ffffff;
}
/*Acccount Sidebar*/
.account-sidebar {
	background: #25aae1;
	color: #fff;
	height: 100%;
}
.sidebar .sidebar-header {
	padding: 20px 30px;
}
.avatar-part {
	display: flex;
	align-items: center;
}
.avatar-pic {
	width: 75px;
	height: 75px;
	border: 2px solid #ffffff;
	padding: 5px;
	border-radius: 50%;
	margin-right: 15px;
	flex-shrink: 0;
}
.avatar-pic img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.avatar-name {
	overflow: hidden;
	font-size: 0.9125rem;
	font-weight: 600;
}
.avatar-name span {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.sidebar ul.components {
	padding: 20px 0;
	margin-bottom: 0;
}
.sidebar ul p {
	color: #fff;
	font-size: 0.9375rem;
	padding: 15px 30px;
	font-weight: 600;
	text-transform: uppercase;
}
.sidebar ul li a.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
}
.sidebar ul li a[data-toggle="collapse"] {
	position: relative;
}
.sidebar ul li a {
	color: #ffffff;
	padding: 15px 30px;
	font-size: 0.9375rem;
	display: block;
	font-weight: 500;
}
.sidebar ul li a:hover, .sidebar ul li a.active {
	color: #213367;
	background: #ffffff;
}
.sidebar ul li a i {
	font-size: 1.3rem;
	margin-right: 5px;
	width: 25px;
	text-align: center;
	vertical-align: middle;
}
.sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #179bd2;
}
.sidebar ul ul a {
	font-size: 0.85rem !important;
	padding-left: 75px !important;
	background: #213367;
}
/*Acccount Main Panel*/
.account-main-panel {
	display: block;
	height: 100%;
	padding: 30px;
}
.account-main-heading {
	display: block;
	margin-bottom: 30px;
}
.account-main-heading h2 {
	display: block;
	font-size: 1.875rem;
	font-weight: 600;
	color: #2492c9;
	margin: 0;
}
.account-main-heading h2 i {
	color: #29c089;
	margin-right: 10px;
}
.account-main-box {
	background: #f6f5f5;
	padding: 30px;
}
/*My Policy Table*/
.my-policy-table-part {
	display: block;
}
.my-policy-table-heading {
	display: block;
	margin-bottom: 15px;
}
.my-policy-table-heading h3 {
	font-size: 1.25rem;
	color: #213367;
	font-weight: 600;
	margin: 0;
}
.my-policy-table {
	display: block;
	font-size: 0.875rem;
	text-align: center;
	margin-bottom: 2rem;
}
.my-policy-table:last-child {
	margin-bottom: 0;
}
.my-policy-table .table {
	margin-bottom: 0;
}
.my-policy-table .table th, .my-policy-table .table td {
	padding: 0.75rem;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}
.my-policy-table .table .thead-dark th {
	background-color: #213367;
	border-color: #e9e9e9;
	font-weight: 400;
}
.my-policy-table .table-striped tbody tr {
	background-color: #ffffff;
}
.my-policy-table .table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(93, 198, 165, 0.1);
}
.my-policy-table .btn {
	min-width: initial;
	color: #212529;
}
.my-policy-table .dropdown-menu {
	font-size: 0.875rem;
}
.my-policy-table i.fa-check {
	color: #45ca7f;
	font-size: 1.25rem;
}
.my-policy-table i.fa-times {
	color: #fb7171;
	font-size: 1.25rem;
}

#navbarDropdown {
	background:none !important;
}


  